<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>BuildWise<%= @title ? " - " + @title : '' %></title>
  <%= stylesheet_link_tag 'buildwise', :media => 'all' %>
  <%= stylesheet_link_tag 'site', :media => 'all' if File.exists?(RAILS_ROOT + "/public/stylesheets/site.css") %>
  
  <% if @autorefresh %>
    <meta http-equiv="refresh" content="5">
    <meta http-equiv="cache-control" content="no-cache">
  <% end %>
  <% if @rss_feeds %>
    <% @rss_feeds.sort.each do |title, url| %>
      <%= auto_discovery_link_tag :rss, url_path(url), {:title => title} %>
    <% end %>
  <% end %>
</head>

<body>

	<div class="header">
	  <div class="main_menu">
	    <span class="menu_item">
	      <%= link_to 'Dashboard', :controller => 'projects', :action => 'index' %>
	    </span>
	    <span class="menu_item">
	      <%= link_to 'New project', :controller => :projects, :action => :new %>
	    </span>
	  </div>

	  <div class="cc_logo">
	    <%= link_to image_tag("/images/buildwise/buildwise_logo.png"), "/" %>
	  </div>    

	  <% unless flash[:notice].blank? %>
	    <div class="flash_notice"><%= h flash[:notice] %></div>
	  <% end %>
	</div>

  <div id="content">
	  <% unless flash[:error].blank? %>
	    <div class="flash_error"><%= h flash[:error] %></div>
	  <% end %>
    <%= yield %>
  </div>

	<div class="footer">
	  <div class="version">
	    <div>Version <%= 1.7 %></div>
	    <div>Powered by <a href="http://rubyonrails.org">Ruby on Rails</a></div>
	  </div>
	</div>

</body>
</html>
